1 ICON "../assets/nongmark.ico"
2 ICON "../assets/nongmark-doc.ico"
1 VERSIONINFO
FILEVERSION 1,0,1,0
PRODUCTVERSION 1,0,1,0
FILEOS 0x40004
FILETYPE 0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "041204B0"
    BEGIN
      VALUE "CompanyName", "농촌진흥청"
      VALUE "FileDescription", "새싹이의 농막 - 마크다운 편집기"
      VALUE "FileVersion", "1.0.1"
      VALUE "InternalName", "nongmark"
      VALUE "OriginalFilename", "nongmark.exe"
      VALUE "ProductName", "새싹이의 농막"
      VALUE "ProductVersion", "1.0.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0412, 1200
  END
END
